body {
    font-family: 'Nunito';
    font-weight: 600;
}

header {
    min-height: 15vh;
    padding: 10px;
}

h2, h4 {
    color: white;
    margin: 0px;
}

h2 {
    font-weight: 200;
}

h4 {
    font-weight: 900;
}

footer {
    min-height: 15vh;
    padding: 10px;
}

header, footer {
    background: #2f2f2f;
}

.container {
    min-height: 70vh;
    width: 100vw;
    background: #ffd800;
    padding-top: 0px;
    padding-bottom: 0px;
}

.row {
    min-height: 100%;
    max-height: 100%;
    background: #4800ff;
    padding: 0px;
}

.col-xs-12 col-sm-12 {
    min-height: 10vh;
    max-height: 10vh;
}

.sidebar {
    background: #dbdfe5;
    height: 70vh;
    width: 100%;
    border: 1px solid #ccc;
    overflow: auto;
}

#list-tab {
    overflow-x: hidden;
    padding: 10px;
    padding-right: 20px;
}

.list-group-item {
    height: 100px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-y: hidden;
}

    .list-group-item.active {
        background-color: #ffd800 !important;
        border-color: #ffd800;
    }

.content {
    height: 100%;
    width: 100%;
    padding: 10px;
    background: #b4bac0;
    position: relative;
}

#video {
    height: 30%; /*100%*/
    width: 30%; /*100%*/
    background: #000000;
    object-fit: cover;
    position: absolute;
    top: 70%;
    left: 70%;
    /*transform: translate(-50%, -50%);*/
}

#canvas {
    height: 100%; /*100%*/
    width: 100%; /*100%*/
    background: #d5d8dc;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar, .content {
    min-height: 300px;
}

#button-group {
    position: absolute;
    right: 10px;
    vertical-align: middle;
}

#camera_lable {
    transform: translateY(-60%);
    color: white;
    font-size: larger;
}




.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: unset;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }